*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif; }

.heading-primary {
  font-size: 2.5rem;
  text-transform: lowercase;
  font-weight: 300; }

.heading-title {
  padding: 2rem 3rem;
  margin-left: 2rem; }

.heading-secondary {
  font-weight: 400;
  font-size: 1.35rem; }

.prop__title {
  margin-left: 1rem; }

.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(2, minmax(auto, 1fr)); }

.main-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .main-row > [class^="col"] {
    width: 50%; }
    .main-row > [class^="col"]:last-child {
      align-self: flex-start; }

.picture {
  grid-column: 2 / 3;
  grid-row: 1 / 2; }

.picture__img {
  display: block;
  width: 100%;
  height: 50vh;
  object-fit: cover; }

.filters {
  grid-column: 1 / 2;
  grid-row: 1 / 2; }

.filter__content {
  margin-left: 2.5rem;
  margin-right: 2.5rem; }

.filter__prop {
  padding: 2rem 4rem; }
  .filter__prop--title {
    display: flex; }
  .filter__prop--slider {
    position: relative;
    margin-top: 1rem; }

.codeblock {
  padding: 1rem 5rem; }

.code__block {
  font-size: 2rem; }

.toggle-btn {
  height: 19px;
  width: 40px;
  background-color: #808080;
  border-radius: 10px;
  position: relative;
  transition: all .3s ease-in-out;
  cursor: pointer; }
  .toggle-btn--active {
    background-color: #000000; }
    .toggle-btn--active > div {
      left: 22px; }

.toggle-thumb {
  height: 15px;
  width: 15px;
  background-color: #fff;
  position: absolute;
  top: 2.45px;
  left: 3px;
  border-radius: 50%; }

.range__value {
  position: absolute;
  left: 85%;
  width: 35px;
  height: 20px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #000; }

.range__content {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.range__unit {
  margin-left: 1px; }

.range {
  width: 80%;
  height: 5px;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.141);
  -webkit-appearance: none;
  outline: none;
  cursor: pointer; }

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: black; }

.range:disabled::-webkit-slider-thumb {
  background-color: gray; }

.range:disabled {
  cursor: default; }

.btn-upload {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem; }
  .btn-upload input[type=file] {
    margin-top: 10px; }

.buttony {
  display: flex;
  padding: 0rem 5rem;
  margin-top: 1rem; }

.btn {
  background-color: #000000;
  padding: .1rem 5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: all .1s ease-out;
  height: 3.5rem;
  margin-top: .5rem; }
  .btn:hover {
    background-color: rgba(0, 0, 0, 0.76); }
  .btn:active {
    background-color: rgba(0, 0, 0, 0.466);
    transform: scale(0.98); }
