.btn-upload {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;

    input[type=file] {
        margin-top: 10px;
    }
}

.buttony {
    display: flex;
    padding: 0rem 5rem;
    margin-top: 1rem;
}

.btn {
    background-color: #000000;
    padding: .1rem 5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-out;
    height: 3.5rem;
    margin-top: .5rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.76);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.466);
        transform: scale(.98);
    }
}