.buttony {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;

    @media only screen and (max-width: $bp-largest) {
        margin-top: 2rem;
    }
}

.btn {
    background-color: hsl(0, 0%, 0%);
    padding: .1rem 5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-out;
    height: 3.5rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.76);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.466);
        transform: scale(.98);
    }
}

.btn-reset {
    font-family: inherit;
    font-size: 1.5rem;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.178);
    }

    &:active {
        transform: scale(.98);
    }
}

.btn-resp {
    width: 90%;

    &:last-of-type {
        margin-top: 5px;
    }

    @media only screen and (max-width: $bp-small) {
        width: 60%;
    }
}