.buttony {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    align-items: center;
}

.btn {
    background-color: #000000;
    padding: .1rem 5rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
    transition: all .1s ease-out;
    height: 3.5rem;
    margin-top: .5rem;

    &:hover {
        background-color: rgba(0, 0, 0, 0.76);
    }

    &:active {
        background-color: rgba(0, 0, 0, 0.466);
        transform: scale(.98);
    }
}

.btn-reset {
    width: 90%;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 1rem;
    width: 90%;

    &:hover {
        background-color: rgba(0, 0, 0, 0.178);
    }

    &:active {
        transform: scale(.98);
    }
}