.codeblock {
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #2e3748;
    border-radius: 1rem;
}

.code__block {
    display: inline-block;
    height: 15rem;
    width: 40rem;
    padding: 2rem 3rem;

    @media only screen and (max-width: $bp-large) {
        width: 30rem;
        height: 18rem;
    }
}

.code {
    word-wrap: break-word;
    text-align: left;
    color: #fff;
    line-height: 25px;
    font-size: 1.75rem;
}