.range__value {
    position: absolute;
    left: 85%;
    width: 35px;
    height: 20px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
    color: #000;
}

.range__content {
    display: flex;
    @include absCenter;
}

.range__unit {
    margin-left: 1px;
}

.range {
    width: 80%;
    height: 5px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.141);
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0)
}


.range:disabled {
    &::-webkit-slider-thumb {
        background-color: rgb(128, 128, 128);
    }

    & {
        cursor: default;
    }
}