.toggle {
    &-btn {
        height: 19px;
        width: 40px;
        background-color: #808080;
        border-radius: 10px;
        position: relative;
        transition: all .3s ease-in-out;
        cursor: pointer;

        &--active {
            background-color: #000000;

            &>div {
                left: 22px;
            }
        }
    }

    &-thumb {
        height: 15px;
        width: 15px;
        background-color: #fff;
        position: absolute;
        top: 0.2px;
        left: 3px;
        border-radius: 50%;
    }
}