.heading-primary {
        font-size: 2.5rem;
        text-transform: lowercase;
        font-weight: 300;
}

.heading-title {
    padding: 2rem 3rem;
    margin-left: 2rem;
}

.heading-secondary {
    font-weight: 400;
    font-size: 1.35rem;
}

.prop__title {
    margin-left: 1rem;
}
