// includes styles for complete page i.e. home page

.container {
    display: grid;
    grid-template-rows: [cover-start] 1fr [cover-end filter-start] 1fr [filter-end];
    grid-template-columns: repeat(4, [col-start] 2fr [col-end]);
}