.codeblock {
    justify-self: center;
    align-self: center;
    text-align: center;
    background-color: #131417;
    border-radius: 1rem;
    margin-bottom: 5rem;
}

.code__block {
    display: inline-block;
    font-size: 2rem;
    height: 15rem;
    width: 40rem;
    padding: 2rem 3rem;
}

.code {
    word-wrap: break-word;
    text-align: left;
    color: #fff;
    line-height: 25px;
}