.codeblock {
    position: relative;
}

.code__block {
    display: inline-block;
    border: 1px solid red;
    width: 80%;
    height: 50%;
    font-size: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.code {
    word-wrap: break-word;
    text-align: left;
    overflow: auto;
}