.effectsplusabout {
    display: flex;
    justify-content: space-evenly;
    grid-row: filter-start / filter-end;
    grid-column: col-start 3 / col-end 4;

    @media only screen and (max-width: $bp-largest) {
        grid-row: extra-start / extra-end;
        grid-column: col-start 1 / col-end 4;
        margin: 2rem 0;
        padding: 0 1rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}