.filters {
    grid-column: col-start 1 / col-end 2;
    grid-row: filter-start / filter-end;
    margin-left: 5rem;
    margin-right: 5rem;

    &__backdrop {
        background-color: #afafaf1f;
        border-radius: 1rem;
        padding: 2rem 0;
    }

    @media only screen and (max-width: $bp-largest) {
        grid-column: col-start 1 / col-end 4;
        margin-top: 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
        margin: 0;

        &__backdrop {
            border-radius: 0;
        }
    }
}

.filter {
    &__prop {
        padding: 1.5rem 2rem;

        &--title {
            display: flex;
        }

        &--slider {
            position: relative;
            margin-top: 1rem;
        }

        @media only screen and (max-width: $bp-small) {
            width: 35rem;
        }
    }
}

.main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (min-width: $bp-small) {
        &>[class^="col"] {
            width: 50%;

            &:last-child {
                align-self: flex-start;
            }
        }
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}