.filters {
    grid-column: col-start 1 / col-end 2;
    grid-row: filter-start / filter-end;
}

.filter {
    &__prop {
        padding: 1.5rem 2rem;

        &--title {
            display: flex;
        }

        &--slider {
            position: relative;
            margin-top: 1rem;
        }
    }
}

h1.filter-top {
    font-size: 3rem;
    padding: 1rem 2rem;
}

.main-row {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>[class^="col"] {
        width: 50%;

        &:last-child {
            align-self: flex-start;
        }
    }
}