.picture {
    grid-column: col-start 1 / col-end 4;
    grid-row: cover-start / cover-end;

    // align-self: center;
}

.picture {
    display: flex;
    max-width: 100%;
    height: auto;

    &__box {
        max-width: 100%;
        text-align: center;
    }

    &__img {
        max-width: 100%;
        min-width: 300px;
        height: auto;
        object-fit: contain;
    }
}