.picture {
    grid-column: col-start 1 / col-end 4;
    grid-row: cover-start / cover-end;
}

.picture {
    display: flex;

    &__box {}

    &__img {
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}