.picture {
    grid-column: col-start 1 / col-end 4;
    grid-row: cover-start / cover-end;

    align-self: center;
}

.picture {
    display: flex;

    &__box {}

    &__img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}